[Desktop Entry]
Version=1.0
Name=vibrantLinux
GenericName=Digital vibrance controller
Comment=Program-specific digital vibrance controller
Exec=vibrantLinux
Icon=io.github.libvibrant.vibrantLinux
Terminal=false
Type=Application
Categories=Utility;
